<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">F8 education</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/news">Bài viết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/search">Tìm kiếm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/courses/create">Tạo khóa học</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div style="position: relative;">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="color: white">
                    Menu
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" style="left: -60px">
                    <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                    <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
                    <li><a class="dropdown-item" href="/login">Đăng nhập</a></li>
                    <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>