<div class="mt-5">
    <h1 class="text-center">Tìm kiếm</h1>
</div>
<form class="container w-50 mt-5" method="post" action="">
    <div class="mb-3">
        <label for="search-input" class="form-label">Từ khóa</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa">
    </div>
    <div class="mb-3">
        <select class="form-select" name="gender">
            <option value ="" selected>-- Giới tính --</option>
            <option value="nam">Nam</option>
            <option value="nu">Nữ</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>